body {
	background: #80C7BA;
	margin: 0;
	text-align: center;
	color: #fffaf0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	background: #41B3A3;
	margin: 0;
	padding: .5em 0;
	letter-spacing: .75em;
	font-size: 4em;
	font-weight: bold;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.winnings {
	font-weight: bold;
	background: #E8A87C;
}

.winnings div {
	float: left;
	width: 25%;
	margin: 1em 0;
}

.main {
	margin: 2em auto;
	width: 65%;
	color: #f5f5f5;
}

.btn {
	background: #E27D60;
	height: 50px;
	line-height: 50px;
}

.homeScreen {
	padding: 50px 0;
	border-radius: 20px;
	background: #C38D9E;
	height: 425px;
}

.instructions {
	margin: 0 100px 60px;
	font-size: 30px;
}

.btn-area {
	margin-top: 85px;
}

.wrapper {
	position: relative;
	overflow: hidden;
	width: 310px;
	height: 55px;
}

.wrapper-closed {
	position: relative;
	overflow: hidden;
	width: 310px;
	height: 55px;
}

.wrapper-closed .ai {
	transition: 1s;
	left: -500px;
}

.wrapper-closed .friend {
	transition: 1s;
	right: -500px;
}

.wrapAI {
	float: left;
}

.wrapFriend {
	float: right;
}

.ai {
	border: 1px solid #E8A87C;
	border-radius: 0 20px 20px 0;
	border-left: 0px;
	position: absolute;
	width: 300px;
	left: 0;
	transition: 1s;
}

.friend{
	border: 1px solid #E8A87C;
	border-radius: 20px 0 0 20px;
	border-right: 0px;
	position: absolute;
	width: 300px;
	right: 0;
	transition: 1s;
}

.red {
	font-size: 80px;
	color: #ffffff;
	animation: glowRed 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowRed {
	from {
    text-shadow: 0 0 10px #b3003c, 0 0 20px #b3003c, 0 0 30px #e6004d, 0 0 40px #e6004d, 0 0 50px #e6004d, 0 0 60px #e6004d, 0 0 70px #e6004d;
  }
  
  to {
    text-shadow: 0 0 20px #b3003c, 0 0 30px #ff4d88, 0 0 40px #ff4d88, 0 0 50px #ff4d88, 0 0 60px #ff4d88, 0 0 70px #ff4d88, 0 0 80px #ff4d88;
  }
}

.blue {
	font-size: 80px;
	color: #ffffff;
	animation: glowBlue 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowBlue {
	from {
    text-shadow: 0 0 10px #1ebbd7, 0 0 20px #1ebbd7, 0 0 30px #71c7ec, 0 0 40px #71c7ec, 0 0 50px #71c7ec, 0 0 60px #71c7ec, 0 0 70px #71c7ec;
  }
  
  to {
    text-shadow: 0 0 20px #1ebbd7, 0 0 30px #189ad3, 0 0 40px #189ad3, 0 0 50px #189ad3, 0 0 60px #189ad3, 0 0 70px #189ad3, 0 0 80px #189ad3;
  }
}


.game-board {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: 5px solid rgba(65,179,163, 1);
	border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-cell {
	background: rgba(128,199,186, 0.8);
	border: 5px solid rgba(65,179,163, 0.8);
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}